body {
  background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(https://v9n8i9k7.stackpathcdn.com/wp-content/uploads/2022/04/4-6-dice-games-random.jpg) no-repeat center fixed;
  background-size: cover;
}
img {
  width:30%;
}

form {
  text-align: center;
}

h3 {
  text-align: center;
  float: left;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  padding: 20px;
}

.left {
  text-align: center;
  padding: 10px;
  width: 47%;
  border: solid black; 
  float: left;
}

.right {
  text-align: center;
  width: 47%;
  float: right;
  padding: 10px;
  border: solid black; 
}

.buttonStyle {
  margin-left: 10px;
  margin-top: 7x;
}
